<div class="card shadow-effect">
  <img class="card-img-top" src="https://images.pexels.com/photos/17908570/pexels-photo-17908570/free-photo-of-turtle-abbypphotos.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">

  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ms-3">Featured</small>
    <small class="bg-light text-info text-center ms-3">Views - 1000,256</small>

    <h5>HOW TO START A BLOG IN 2023</h5>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
</div>